
@use "../mixins" as m;
@use "../variables" as v;

.hero-sec {
    @include m.flex(flex-start, stretch, column);
    height: 100vh;

    @media (max-width: 768px) {
        height: fit-content;
    }

    &__wrapper {
        padding: 40px 0;
        flex: 1;
        overflow: hidden;

        @media (max-width: 768px) {
            padding: 18px 0 12px;
        }

        .container {
            height: 100%;
        }
    }

    .slider {
        position: relative;
        height: 100%;

        @media (max-width: 768px) {
            height: 480px;
        }

        .slide {
            position: relative;
            @include m.flex(center, center);
            height: 100%;
            background-color: v.$color-gray;
            overflow: hidden;
            border-radius: 18px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__info {
                z-index: 1;
                position: absolute;
                left: 60px;
                bottom: 60px;
                max-width: 580px;
                color: v.$color-white;

                @media (max-width: 768px) {
                    left: 16px;
                    bottom: 22px;
                }
            }

            &__title {
                font-size: 56px;
                text-transform: uppercase;
                margin-bottom: 18px;
                font-weight: 700;

                @media (max-width: 768px) {
                    font-size: 24px;
                }

                span {
                    @media (min-width: 769px) {
                        color: v.$color-orange;
                    }
                }
            }

            &__text {
                margin-bottom: 32px;
            }

            &__btn {
                width: fit-content;
            }
        }

        .navigation {
            z-index: 10;
            @include m.flex();
            gap: 12px;
            position: absolute;
            right: 60px;
            bottom: 60px;

            @media (max-width: 768px) {
                right: 16px;
                bottom: 22px;
            }

            &__btn {
                color: v.$color-blue;

                &:active {
                    color: v.$color-white;
                }
            }
        }
    }
}