
@use "../mixins" as m;
@use "../variables" as v;

.practice-sec {
    &__title,
    &__text {
        width: 100%;
        text-align: center;
        max-width: 530px;

        @media (max-width: 768px) {
            text-align: left;
            max-width: unset;
        }
    }

    &__list {
        @include m.flex();
        gap: 40px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 12px;
        }
    }

    &__card {
        flex: 1;
        min-height: 260px;
        border-radius: 18px;

        &-title {
            width: 100%;
            max-width: 500px;
            line-height: 130%;
        }

        @media (max-width: 768px) {
            border-radius: 18px !important;
        }
    }
}