
@use "../mixins" as m;
@use "../variables" as v;

.section {
    padding: 60px 0;

    @media (max-width: 1024px) {
        padding: 20px 0;
    }

    &__row {
        @include m.flex(space-between, center);
        gap: 12px;
        margin-bottom: 40px;

        @media (max-width: 1400px) {
            align-items: stretch;
            flex-direction: column;
        }

        @media (max-width: 1024px) {
            margin-bottom: 24px;
        }
    }

    &__col {
        @include m.flex(space-between, center, column);
        gap: 18px;
        margin-bottom: 40px;
    }

    &__title {
        position: relative;
        font-size: 3.8rem;
        max-width: 600px;

        @media (max-width: 1400px) {
            max-width: unset;
        }

        @media (max-width: 1024px) {
            font-size: 2.4rem;
        }

        &--line {
            @media (min-width: 1401px) {
                padding-left: 32px;

                &:before {
                    @include m.pseudo();
                    inset: 0 auto 0 0;
                    width: 2px;
                    border-radius: 2px;
                    background-color: v.$color-orange;
                }
            }
        }
    }

    &__text {
        max-width: 800px;
        line-height: 150%;
        color: v.$color-gray;

        @media (max-width: 1400px) {
            max-width: unset;
        }
    }

    &__actions {
        @include m.flex(flex-end, center);
        gap: 40px;
    }

    &__link {
        position: relative;
        @include m.flex(flex-start, center);
        gap: 12px;
        padding-right: 40px;
        color: v.$color-blue;

        &:after {
            @include m.pseudo();
            right: 0;
            background-color: v.$color-black;
            width: 1px;
            height: 30px;
            opacity: .08;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__slider-container {
        @media (max-width: 768px) {
            overflow: unset;
            padding: 0;
        }
    }

    .slider {
        max-width: 1800px;
        margin: 0 auto;

        @media (max-width: 768px) {
            padding: 0 12px;
        }

        &__navigation {
            @include m.flex(center, center);
            gap: 12px;
        }

        &__slide {
            height: auto;
        }
    }
}