
@use "mixins" as m;
@use "variables" as v;

.container {
    width: 100%;
    max-width: 1880px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;

    @media (max-width: 1024px) {
        max-width: 1400px;
        padding: 0 12px;
    }
}

.row {
    display: flex;
    align-items: stretch;
    gap: 40px;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}

.col {
    position: relative;
    flex: 50%;
}