@use "@/styles/mixins" as m;
@use "@/styles/variables" as v;

.study-directions-sec {

    &__wrapper {
        @include m.flex(flex-start, stretch, column);
        gap: 40px;

        @media (max-width: 1100px) {
            gap: 12px;
        }
    }

    &__mobile-text {
        display: none;

        @media (max-width: 1100px) {
            display: block;
        }
    }

    .direction {
        @include m.flex(space-between);
        gap: 40px;

        @media (max-width: 1100px) {
            justify-content: stretch;
            flex-direction: column;
            gap: 12px;
            background-color: v.$color-white;
            padding: 22px 16px;
            border-radius: 18px;
        }

        &__image {
            display: flex;
            width: 380px;
            min-height: 260px;
            object-fit: cover;
            border-radius: 18px;
            flex-shrink: 0;
            overflow: hidden;

            @media (max-width: 1200px) {
                height: 300px;
            }

            @media (max-width: 1100px) {
                height: auto;
                width: 100%;
                max-height: 400px;
            }

            @media (max-width: 576px) {
                max-height: 210px;
            }
        }

        &__info {
            @include m.flex(space-between);
            width: 100%;
            gap: 60px;
            padding: 60px 120px 60px 60px;
            background-color: v.$color-white;
            border-radius: 18px;

            @media (max-width: 1800px) {
                padding: 30px 60px 30px 30px;
                gap: 30px;
            }

            @media (max-width: 1100px) {
                flex-direction: column;
                gap: 12px;
                padding: 0;
            }
        }

        &__text {
            @include m.flex();
            gap: 40px;

            @media (max-width: 1400px) {
                flex-direction: column;
                gap: 20px;
            }

            @media (max-width: 1100px) {
                gap: 12px;
            }
        }

        &__title {
            max-width: 390px;

            @media (max-width: 1100px) {
                display: none;
                max-width: unset;
            }

            &--mobile {
                display: none;
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                text-transform: uppercase;
                color: #333;

                @media (max-width: 1100px) {
                    display: block;
                }
            }
        }

        &__desc {
            color: v.$color-blue-gray;
            max-width: 480px;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        &__btn {
            display: none;
            height: 57px;

            @media (max-width: 1100px) {
                display: flex;
            }
        }

        &__link {
            &--desk {
                @include m.flex(flex-start, center, column);
                gap: 12px;
                text-align: center;
                color: v.$color-gray;
                font-size: 14px;
                line-height: 130%;
                text-decoration: none;

                @media (max-width: 1100px) {
                    display: none;
                }
            }

            &-btn {
                width: 90px;
                height: 90px;

                svg {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}